html {
  background-color: #f0ebf8;
}

form {
  .F2E02 {
    width: 640px;
    height: 202.53px;
    margin: 12px auto;
    background-color: #fff;
    border: 1px solid #dadada;
    border-top: 10px solid rgb(103, 58, 183);
    border-radius: 8px;
    padding: 24px;
    padding-top: 22px;
    padding-bottom: 16px;
    position: relative;
  }

  hr {
    width: 640px;
    margin-left: -24px; /* 自動推擠左邊 */
    margin-right: auto; /* 自動推擠右邊 */
    border-color: gray;
  }

  .look {
    width: 640px;
    height: auto;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    position: relative;
    line-height: 2;
  }

  .title {
    font-size: 16px;
  }
  a {
    color: #0b57d0;
  }

  #subres {
    width: 640px;
    height: auto;
    margin: 0px auto;
    display: flex;
    align-items: center;
  }

  #sub {
    width: 320px;
    height: auto;
    margin-left: 0px;
  }

  #res {
    width: 320px;
    height: auto;
    margin-left: 480px;
  }

  #submit_look {
    color: #ffff;
    background-color: rgb(103, 58, 183);
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 5px;
  }

  #reset_look {
    color: rgb(103, 58, 183);
  }
}
footer {
  width: 640px;
  height: auto;
  margin: 12px auto;
  font-size: 12px;
  line-height: 2;
}

#google {
  width: 640px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
  font-size: 22.1px;
  line-height: 2;
}

#clear_radio {
  color: gray;
  display: none;
  cursor: pointer; /*讓鼠標變成手套*/
}

.clear_right {
  display: flex; /* 開啟彈性佈局 */
  justify-content: flex-end;
}

#textarea_look {
  width: 550px;
  height: 70px;
}
